.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px;
    margin: 15px auto;
    border: 2px solid black;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    max-height: 90%;
    align-content: stretch;
    flex-grow: 1;

    &.active {
        animation: fadeInUp 0.5s forwards;
    }
}

@media (max-width: 1024px) {
    .portfolio-container {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 50vh;

        .photo, img {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 15px;
            

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
